/*GERAL*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #000;
    height: 100vh;
}

.interface{
    display: flex;
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.btn-contato button{
    padding: 8px 36px;
    background-color: #00ff00;
    font-size: 18px;
    font-weight: 700;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
}

button:hover{
    box-shadow: 0px 0px 10px #fcfffa;
    transform: scale(1.1);
}

h2.titulo{
    color: #ffffff;
    font-size: 42px;
    text-align: center;
    margin-bottom: 40px;
}

h2.titulo span{
    color: #00ff00;
    font-size: 42px;
    text-align: center;
}


/* Menu mobile */
.menu-mobile{
    display: none;
    background-color: red;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    width: 70%;
}

.menu-mobile nav ul{
    text-align: right;
}

/*CABEÇALHO*/

header{
    padding: 40px 4%;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: #b8b8b8;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
    font-size: 18px;
    font-weight: 600;
}

header a:hover{
    color: #ffffff;
    transform: scale(1.1);
}

header nav ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
}

.logo{
    max-width: 24%;
}

.logo img{
    width: 100%;
}

main{
    margin-top: 50px;
}
/*Topo*/

section .topo-site{
    padding: 40px 4%;
}

section.topo-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-site .texto-topo h1{
    margin-top: 22px;
    color: #ffffff;
    font-size: 45px;
    line-height: 50px;
}

.topo-site .texto-topo h1 span{
    color: #00ff00;
    font-size: 40px;
}

.botoes{
    display: flex;
    gap: 20px;
}

.topo-site .img-topo img{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
    /*clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);*/
    border-radius: 50%;
    width: 100%;
    box-shadow: 0 5px 30px rgb(248, 245, 245);
}


.topo-site .texto-topo p{
    color: #ffffff;
    font-size: 20px;
    margin: 40px 0px;
}


/*Especialidades*/

section.habilidades{
    padding: 40px 4%;
    margin-top: 190px;
}

section.habilidades .flex{
    gap: 40px;
}

.habilidades .habilidades-box{
    color: #ffffffe3;
    padding: 40px;
    margin-top: 50px;
    border-radius: 20px;
    transition: .3s;
}

.habilidades .habilidades-box:hover{
    transform: scale(1.06);
    box-shadow: 0px 0px 20px #ffffff;
}

.habilidades .habilidades-box i{
    font-size: 50px;
    color: #00ff00;
}

.habilidades .habilidades-box h3{
    font-size: 28px;
    margin: 10px 0;
}


/*SOBRE*/

section.sobre{
    margin-top: 30px;
    padding: 80px;
    max-width: 60%;
    margin: 0 auto;
}

section.sobre .flex{
    align-items: center;
    gap: 60px;
}

section .texto-sobre{
    color: #ffffff;
    line-height: 40px;
}


.sobre .texto-sobre h2 span{
    display: block;

}

.sobre .texto-sobre p{
    margin: 32px 0;
    text-align: justify;
}

.sobre .texto-sobre .btn-social button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    font-size: 22px;
    background-color: #00ff00;
    cursor: pointer;
    margin: 0 8px;
}

section.portfolio{
    padding: 60px 4%;
    box-shadow: 0px 0px 8px #ffffff98;
}

section.portfolio .interface .flex{
    margin: 15px 0;
    gap: 50px;
}

section.portfolio .interface .flex{
    width: 100%;
    display: flex;
}

section.portfolio .interface .projeto img{
    width: 100%;
    display: flex;
}


section.portfolio .projeto{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 24px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
}

section.portfolio .projeto:hover{
    transform: scale(1.03);
    box-shadow: 0px 0px 10px #ffffff9f;
}

section.portfolio .projeto h3{
    color: #00ff00;
    font-size: 24px;
    font-weight: 300;
    margin-top: 8px;
    margin-bottom: 12px;
}

section.portfolio .projeto p{
    color: #ffffff;
    font-size: 18px;
    margin-top: 8px;
    margin-bottom: 12px;
}




section.portfolio .projeto .btn-projeto{
    padding: 6px 24px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    border: none;
    background-color: #00ff00;
}

/*Formulario*/

section.form-contato{
    padding: 80px 4%;
}

form{
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
}

form input, form textarea{
    background-color: #3f3e3e69;
    border: 0;
    outline: 0;
    padding: 18px 14px;
    color: #ffffff;
    border-radius: 10px;
    font-size: 18px;
}

form textarea{
    resize: none;
    max-height: 260px;
}
form .btn-enviar{
    text-align: center;
}

form .btn-enviar input{
    width: 40%;
    margin-top: 18px;
    padding: 10px 14px;
    max-height: 50px;
    background-color: #00ff00;
    color: #000;
    font-weight: 600;
}

form .btn-enviar input:hover{
    box-shadow: 0px 0px 10px #fcfffa;
    transform: scale(1.1);
}

/* Rodapé */

footer{
    padding: 30px 4%;
    box-shadow: 0px 0px 8px #ffffff98;
}

footer .flex{
    justify-content: space-between;
}

footer .interface{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.line-footer a{
    text-decoration: none;
    color: #fcfffa;
    padding-left: 10px;
}

.line-footer p > i{
    text-decoration: none;
    color: #00ff00;
}

.line-footer .btn-social button{
    color: #00ff00;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 0;
    color: #000;
    font-size: 18px;
    background-color: #00ff00;

}


@keyframes flutuar {
    /*Inicial*/
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}

/* Responsivo */

@media screen and (max-width: 1000px) {
    /* Geral */
    .flex{
        flex-direction: column;
    }
    .topo-site .flex{
        flex-direction: column-reverse;
    }
    /* Cabeçalho */
    .menu-desktop, .btn-contato{
        display: none;
    }
}